aiofiles
aiogram
aiohttp
asyncpg
beautifulsoup4
click
flask
gunicorn
itsdangerous
jinja2
lxml
markupsafe
openai
psycopg2-binary
psycopg
pydantic
pydantic-settings
python-dotenv
sqlalchemy
trafilatura
werkzeug